snippet main "Boilerplate main"
int main(int argc, char* argv[]) {
	$0
	return 0;
}
endsnippet

snippet import "Typical Imports"
#include <iostream>
#include <string>
#include <vector>
using namespace std;
$0
endsnippet
